¡Hola! Recientemente hemos recibido una solicitud para reestablecer la contraseña de tu cuenta.<br/>

Para crear una nueva contraseña, <a href="{{ url('newPassword', {'code': code, 'email': email }) }}">haz click aquí.</a><br/>

En caso de no haber sido tú, ignora este correo electrónico.<br/>



Saludos.