<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}tecleaME{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.png') }}" />

    <meta name="description" content="Simple, segura y robusta red social basada en Microblogging. Crea tu comunidad, únete a distintas comunidades y comunícate con los distintos usuarios." />
    <meta name="keywords" content="TecleaME, Red Social, p-Dev, Microblogging, pedrojanula, Comunidad" />
    <meta name="author" content="Pedro José Anula">
    <meta name="revisit-after" content="7 days">
</head>
<body>
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-109137082-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-109137082-1');
</script>

</body>
</html>
