{% extends 'userBase.html.twig' %}

{% block title %}Página de Ayuda{% endblock %}

{% block body %}
    <div class="container">
        <span class="fa fa-info-circle fa-2x"></span>
        <h2>Ayuda</h2>
        <h1>Aquí encontrarás información, preguntas frecuentes y muchos datos más acerca de TecleaME. Si tienes cualquier duda, no dudes en ponerte en contacto con nosotros.</h1>

        <div class="col-md-6 m-auto">
            <hr/>
        </div>

        <div id="help-tabs">
            <div class="card">
                <div class="card-header bg-dark">
                    <div class="col-md-12">
                        <ul id="tabs" class="nav nav-tabs cWhite" role="tablist">
                            <li role="presentation">
                                <a class="btn btn-default text-center cWhite activeTab tab" href="#faq"><span class="fa fa-question-circle"></span> FAQ</a>
                            </li>
                            <li role="presentation">
                                <a class="btn btn-default text-center cWhite tab" href="#general-info"><span class="fa fa-info-circle"></span> Información General</a>
                            </li>
                            <li role="presentation">
                                <a class="btn btn-default text-center cWhite tab" href="#rules"><span class="fa fa-list-ol"></span> Normas</a>
                            </li>
                            <li role="presentation">
                                <a class="btn btn-default text-center cWhite tab" href="#contact"><span class="fa fa-envelope"></span> Contacto</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="card-body text-left">
                    <div id="faq">
                        <div class="card">
                            <div class="card-header bg-gray text-center">
                                <h1><span class="fa fa-question-circle"></span> Preguntas Frecuentes</h1>
                            </div>

                            <div class="card-body">
                                <div class="col-md-12">
                                    <div class="col-md-12">
                                        <h4 class="text-left font-weight-800">¿Qué es TecleaME?</h4>
                                    </div>
                                    <div class="col-md-12">
                                        <span>TecleaME es una red social, de código libre y gratuito, basada en microblogging.</span>
                                    </div>
                                </div>

                                <hr/>

                                <div class="col-md-12">
                                    <div class="col-md-12">
                                        <h4 class="text-left font-weight-800">¿Es gratuito?</h4>
                                    </div>
                                    <div class="col-md-12">
                                        <span>TecleaME es totalmente gratuito. Puedes crear una cuenta de manera totalmente gratuita y nunca se te pedirá que pagues para acceder.</span>
                                    </div>
                                </div>

                                <hr/>

                                <div class="col-md-12">
                                    <div class="col-md-12">
                                        <h4 class="text-left font-weight-800">Si es gratuito, ¿cómo se financia?</h4>
                                    </div>
                                    <div class="col-md-12">
                                        <span>En un principio, los recursos para el mantenimiento de TecleaME no son muy exigentes, por lo tanto se hace cargo de nuestro propio bolsillo, aunque en un futuro se incorporará algo de publicidad para financiarnos, sin afectar a la economía de nuestros usuarios.</span>
                                    </div>
                                </div>

                                <hr/>

                                <div class="col-md-12">
                                    <div class="col-md-12">
                                        <h4 class="text-left font-weight-800">¿Qué hay de mi privacidad?</h4>
                                    </div>
                                    <div class="col-md-12">
                                        <span>En TecleaME nos tomamos muy en serio la seguridad y privacidad del usuario. Jamás venderemos tus datos y, tu contraseña estará desde primera hora encriptada para asegurar la seguridad de tu identidad.</span>
                                    </div>
                                </div>

                                <hr/>

                                <div class="col-md-12">
                                    <div class="col-md-12">
                                        <h4 class="text-left font-weight-800">¿Hay alguna aplicación para Android e iOS?</h4>
                                    </div>
                                    <div class="col-md-12">
                                        <span>No, pero no te preocupes, ya que desde cualquier smartphone y usando tu navegador por defecto, podrás usar TecleaME muy cómodamente, debido al diseño responsive, muy amigable con 'las pantallas pequeñas'.</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="general-info">
                        Información General
                    </div>

                    <div id="rules">
                        Normas
                    </div>

                    <div id="contact">
                        Contacto
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}