{% extends 'userBase.html.twig' %}

{% block body %}
    <div class="container">
        <div class="panel panel-info info">
            <div class="panel-heading">
                <b><span class="fa fa-envelope-o"></span> Bandeja de Entrada</b>
            </div>

            <div class="panel-body">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <button class="btn btn-lg btn-default"><span class="fa fa-plus"></span> Nuevo Mensaje Privado</button>
                        <button class="btn btn-lg btn-default"><span class="fa fa-envelope-open"></span> Bandeja de Salida</button>
                    </div>

                    <div class="panel-body">
                        {% if pmList | length > 0 %}
                            <table class="table table-bordered">
                                <thead class="bg-info">
                                    <tr>
                                        <th>Asunto: </th>
                                        <th>Remitente: </th>
                                        <th>Fecha: </th>
                                        <th>Opciones</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    {% for pm in pmList %}
                                    <tr>
                                        <td><a href="#">{{ pm.subject }}</a></td>
                                        <td><a href="{{ path('viewUserProfile', {'id': pm.sender.id }) }}">{{ pm.sender.username }}</a></td>
                                        <td>{{ pm.date | date('d-m-Y h:m') }}</td>
                                        <th><span class="fa fa-trash"></span><span class="fa fa-eye"></span></th>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        {% else %}
                            <div>No tienes mensajes privados en tu bandeja de entrada.</div>
                        {% endif %}
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}